header img{
    margin-right: 1em;
}
#titulo{
    background: url(../imagenes/12copia.jpg) right center;
    background-size: cover;
    background-repeat: no-repeat;
}

#titulo button{
    background: #2cb6bb;
    font-size: 24px;
    color: #FFF;
    margin-bottom: 2.5em;
}

#cuadro h1{
    font-size: 4em;
    margin: 0.67em;
    color:#2cb6bb;;
    text-align: center;
}

#beneficios img{
    width: 50%;
    image-orientation: center;
}

#beneficios h3{
    font-size: 20px; 
    margin-top: -1em;
    color:#2cb6bb;
}

#beneficios p{
    margin-top: -2.5em;
    font-size: 13px;
}

}
.fondo h1{
    text-align: center;
    color: #2cb6bb;
}

.box p{
    color: darkgray;
    text-align:center;
    padding: 20px;
}

.fondo img{
    width: 62%;
}

#final img{
    width: 80%;
}

#final h3, p{
    text-align: center;
    padding: 20px;
    color: darkgray;
    margin-top: 1em;
}


#hola p{
    color: white;
    padding-top: 4em;
}

#hola{
    background: url(../imagenes/familia.jpg) right center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0em;
}



@media only screen and (min-width:764px){

#hola{
    background: url(../imagenes/familia.jpg) right center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4em;
}
}

@media only screen and (min-width:1024px){

#hola{
    background: url(../imagenes/familia.jpg) right center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6em;
}
}



2953045
SOY TU LEON
